# global options
{
    admin off
    persist_config off
    auto_https off # TLS is handled by the ingress controller
    # runtime logs
    log {
        format json # set runtime log format to json mode
    }
    # server options
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

# site block, listens on the $PORT environment variable
:{$PORT} {
    # access logs
    log {
        format json # set access log format to json mode
    }

    # health check
    rewrite /health /*

    # serve from the 'build' folder (Vite builds into the 'build' folder)
    root * build

    # enable gzipping responses
    encode gzip

    # serve files from 'build'
    file_server

    # if path doesn't exist, redirect it to 'index.html' for client side routing
    try_files {path} /index.html
}