controller:
  replicaCount: 1
  electionID: ingress-nginx-internal

  resources:
    requests:
      cpu: {{ nginx_ingress_requests_cpu }}
      memory: {{ nginx_ingress_requests_memory }}
    limits:
      cpu: {{ nginx_ingress_limits_cpu }}
      memory: {{ nginx_ingress_limits_memory }}

  ingressClassResource:
    name: "{{ nginx_ingress_internal_class }}"
    controllerValue: k8s.io/ingress-nginx-internal
    default: false

  ingressClass: "{{ nginx_ingress_internal_class }}"

  service:
    type: LoadBalancer
    annotations:
      yandex.cloud/load-balancer-type: "internal"
      yandex.cloud/subnet-id: "{{ nginx_ingress_lb_subnet_id }}"
{% if nginx_ingress_internal_lb_ip is defined and nginx_ingress_internal_lb_ip %}
      yandex.cloud/load-balancer-address: "{{ nginx_ingress_internal_lb_ip }}"
{% endif %}

  admissionWebhooks:
    enabled: true

defaultBackend:
  enabled: false
