# Shared Docker defaults
docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

# VPN
vpn_public_host: gw.myapp.example.com
vpn_ui_domain: gw.myapp.example.com
vpn_wireguard_port: 51820
vpn_admin_username: admin
vpn_admin_password: change-me
vpn_client_dns:
  - 1.1.1.1
  - 8.8.8.8
vpn_client_allowed_ips:
  - 10.10.0.0/16
  - 10.20.0.0/16
  - 10.30.0.0/16
vpn_wg_easy_image: ghcr.io/wg-easy/wg-easy:15
vpn_caddy_image: caddy:2
vpn_caddy_email: ""

# GitLab server
gitlab_server_image: gitlab/gitlab-ce:latest
gitlab_server_hostname: gitlab.myapp.example.com
gitlab_external_url: https://gitlab.myapp.example.com
gitlab_http_port: 80
gitlab_https_port: 443
gitlab_ssh_port: 2222
gitlab_caddy_image: caddy:2
gitlab_caddy_email: ""
gitlab_backup_s3_enabled: false
gitlab_backup_s3_bucket: ""
gitlab_backup_s3_region: ru-central1
gitlab_backup_s3_endpoint: https://storage.yandexcloud.net
gitlab_backup_s3_access_key: ""
gitlab_backup_s3_secret_key: ""

# GitLab runner
gitlab_runner_image: gitlab/gitlab-runner:latest
gitlab_runner_name: default-runner
gitlab_runner_token: glrt-xxxxxxxxxxxxxxxx
gitlab_runner_tags:
  - stage
gitlab_runner_default_image: alpine:latest
gitlab_runner_run_untagged: false
